.header {
    top:0;
    width: 100%;
}

.navbar {
    background-color: #71451b;
    color: #000000;
    border-radius: 0 0 5px 5px;
    height: 60px; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998; 
    margin: 0 auto;
    max-width: 1280px; 
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

/*480, 768, 1024*/
@media screen and (min-width: 480px) {  
    .navbar {
        justify-content: space-around;
    }
}
@media screen and (min-width: 768px) {
    .navbar {
        border-radius: 0 0 50% 50%; 
        /*.navbar {*/
        justify-content: center;
        /*}*/
    }
}
@media screen and (min-width: 1024px) {
    
}
