.footer {
    background-color: #d6d6d6;
    border-radius: 7px 7px 0 0;
    padding: 0 1rem;
}
.hr {
    margin: 0;
}
.divFooter {
    padding: 1rem ;
}
.anchor {
    font-weight: 600;
}
.anchor:hover {
    color: #71451b;
}
